*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  vertical-align: middle;
  text-transform: uppercase;
}

.logo {
  color: #2e2f42;
}

.logo-web {
  color: #4d5ae5;
}

.logo-web-2 {
  color: #ffffff;
}

.header {
  padding: 24px 0;
  border-bottom: 1px solid #e7e9fc;
}

.header .container {
  display: flex;
  align-items: center;
}

.nav .ul {
  display: flex;
  gap: 40px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.nav-info .ul {
  display: flex;
  gap: 40px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.nav-info {
  margin-left: auto;
}

.ul {
  list-style: none;
}

.nav {
  margin-left: 76px;
}

.nav a,
.nav-info a {
  color: #2e2f42;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.nav a:hover,
.nav a:focus,
.nav-info a:hover,
.nav-info a:focus {
  color: #404bbf;
}

.nav-link {
  position: relative;
}

.nav-link a {
  color: #2E2F42;
  text-decoration: none;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;

  width: 100%;
  height: 4px;
  background-color: #404BBF;
  border-radius: 2px;

  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after {
  opacity: 1;
}

.nav-link.active::after {
  opacity: 1;
}

h1 {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  text-align: center;
  margin: 0 auto;
}

.button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  vertical-align: middle;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h2 {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.h3 {
  font-style: Medium;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .container {
  display: flex;
  gap: 120px;
}

.footer ul {
  padding: 0;
  margin: 0;
}

.footer li {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-icons {
  display: flex;
  gap: 16px;
}

.icon-footer {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.icon-footer use {
  fill: #ffffff;
}

.icon-footer:hover,
.icon-footer:focus {
  background-color: #31D0AA;
}

.footer p {
  color: #e7e9fc;
  width: 264px;
  margin: 0;
}

.footer a {
  text-decoration: none;
}

.footer-social svg {
  text-decoration: none;
  display: flex;
}

.footer-social {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-social-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-icons {
  display: flex;
  gap: 16px;
}

.icon-footer {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-footer svg {
  fill: #ffffff;
}


.hero .container {
  background-color: #2e2f42;
  padding: 188px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
  background-image:
    linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/bg-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}



.team {
  background-color: #f4f4fd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 120px 0;
}

.team .ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}

.team .card {
  list-style: none;
  box-shadow: 
  0px 2px 1px 0px #2E2F4214;
  0px 1px 1px 0px #2E2F4229;
  0px 1px 6px 0px #2E2F4214;
}

.team h2 {
  margin-bottom: 72px;
}

.team h3 {
  color: #06093b;
  margin-bottom: 8px;
  padding-top: 32px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team p {
  margin-bottom: 8px;
}

.team h3:hover {
  color: blue;
}

.ul {
  list-style: none;
}

.button:hover {
  background-color: #404bbf;
}

a {
  text-decoration: none;
  color: inherit;
}


.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px 0;
}

.features .ul {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.features h3 {
  display: flex;
  margin-top: 8px;
}

.features li {
  list-style: none;
}

.features p {
  margin-top: 8px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
  border: 0;
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px 0;
}

.portfolio .card {
  background-color: #ffffff;
  border: 1px solid #e7e9fc;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .card:hover,
.portfolio .card:focus-within {
  box-shadow: 
  0px 2px 1px 0px #2E2F4214,
  0px 1px 1px 0px #2E2F4229,
  0px 1px 6px 0px #2E2F4214;
rgba(46, 47, 66, 0.16);
}

.portfolio .ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.portfolio h2 {
  top: 1136px;
  left: 639px;
  margin-bottom: 72px;
}

.portfolio h3 {
  color: #06093b;
  padding-top: 32px;
  padding-left: 16px;
  margin-bottom: 8px;
}

.portfolio p {
  padding-bottom: 32px;
  padding-left: 16px;
}

.card {
  display: block;
  background-color: #ffffff;
}

.portfolio .card {
  border: 1px solid #e7e9fc;
}

.card-image {
  display: block;
  width: 100%;
  height: auto;
}

.icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
}

.icon-item {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.icon-item:hover,
.icon-item:focus-within {
  background-color: #31D0AA;
}


.icon {
  fill: #ffffff;
}

.svg-card {
  background-color: #F4F4FD;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #8E8F99;
  align-items: center;
  padding-bottom: 24px;
  padding-top: 24px;
  margin: 0 auto;
}